/* popup.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0; 
}

.container {
    background-color: #060606; /* Dark background for the container */
    padding: 20px;
    text-align: center;
    width: 250px; /* Adjust as needed */
}

h1 {
    color: #faf9f9;
    margin-bottom: 20px; /* Increased margin for spacing */
}

p {
    color: #faf9f9;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.watched, .remaining {
    text-align: center;
}

#count {
    font-size: 24px; /* Slightly smaller font size */
    font-weight: bold;
    color: #fc0505; 
}

#remainingCount {
    font-size: 24px; /* Slightly smaller font size */
    font-weight: bold;
    color: #1791ce; 
}

.progress-bar {
    width: 80%;
    height: 20px;
    background-color: #1791ce; /* Progress bar background color */
    border-radius: 5px;
    margin: 0 auto 20px;
    overflow: hidden; 
}

.progress-bar-fill {
    height: 100%;
    background-color: #fc0505; /* Fill color of the progress bar */
    width: 0%; 
    transition: width 0.5s ease; 
}

button {
    background-color: #dc3545; /* Button color */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333; /* Darker shade for button on hover */
}
